<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PetShop.Properties.Settings.Pet_Shop_DatabaseConnectionString1"
            connectionString="Data Source=CCL01-11;Initial Catalog=&quot;Pet Shop Database&quot;;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;"
            providerName="System.Data.SqlClient" />
        <add name="PetShop.Properties.Settings.Pet_Shop_DatabaseConnectionString"
            connectionString="Data Source=CCL01-11;Initial Catalog=&quot;Pet Shop Database&quot;;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;"
            providerName="System.Data.SqlClient" />
        <add name="PetShop.Properties.Settings.Pet_Shop_DatabaseConnectionString2"
            connectionString="Data Source=CCL01-11;Initial Catalog=&quot;Pet Shop Database&quot;;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="PetShop.Properties.Settings.Pet___Item_Shop_DatabaseConnectionString"
            connectionString="Data Source=CCL01-11;Initial Catalog=&quot;Pet Shop Database&quot;;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="PetShop.Properties.Settings.Pet_Shop_DatabaseConnectionString3"
            connectionString="Data Source=CCL01-11;Initial Catalog=&quot;Pet Shop Database&quot;;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>